<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>827881726689-eo2vk7rvciktf410hagkpqutakkjqlkn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.827881726689-eo2vk7rvciktf410hagkpqutakkjqlkn</string>
	<key>API_KEY</key>
	<string>AIzaSyBAMIT-C5yZrJvlyYc3houhqIea-lXh6FE</string>
	<key>GCM_SENDER_ID</key>
	<string>827881726689</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.creoleStudios.SwiftUiAuth</string>
	<key>PROJECT_ID</key>
	<string>swiftuiauth-a0754</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftuiauth-a0754.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:827881726689:ios:4817d9310676fea7594da0</string>
</dict>
</plist>